<h2>Accounts</h2>

<div *ngFor="let account of accounts">
  <h3>
      <a [title]="account.name + ' details'">
      {{ account.name }}
    </a>
  </h3>
  <div *ngIf="account.description">
    Description: {{ account.description }}
  </div>
  <br>
  <button class="btn btn-primary text-white" [routerLink]="['/accounts/account',account.id]">
    Open
  </button>
  <button class="btn btn-danger text-white" (click)="onDelete(account)">
    delete
  </button>
  <br>
</div>
<br>
<div>
  <button class="btn btn-primary text-white" [routerLink]="['/accounts/account']">
    Create
  </button>
</div>