<h2>Accounts</h2>
<br>
<div class="container">
  <div class="row" class="col-12" *ngFor="let account of accounts">
    <div class="col-sm">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h3>
              <a [title]="account.name + ' details'">
                {{ account.name }}
              </a>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div *ngIf="account.description">
              Description: {{ account.description }}
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <button class="btn btn-primary text-white" [routerLink]="['/accounts/account',account.id]">
                    Open
                  </button>
                </div>
                <div class="col-6">
                  <button class="btn btn-danger text-white" (click)="onDelete(account)">
                    delete
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <br>
</div>
<br>
<div class="row">
  <button class="btn btn-primary text-white" [routerLink]="['/accounts/account']">
    New
  </button>
</div>