<footer class="mt-auto py-2 bg-dark text-white text-center">

    <div class="d-flex justify-content-between align-items-center">

        <div></div>

        <form [formGroup]="form" class="form-inline">
            <input type="date" class="form-control form-control-sm" formControlName="startDate" (change)="onDateChange()">
            <span class="mx-2">-</span>
            <input type="date" class="form-control form-control-sm" formControlName="endDate" (change)="onDateChange()">
        </form>
    
        <div class="text-right pr-2">
            <button *ngIf="hasAccounts" class="btn btn-primary mr-2" type="submit"
                [routerLink]="['/transactions/transaction']" title="New Transaction" i18n>
                <span class="oi oi-plus"></span>
            </button>
            <button class="btn btn-secondary" type="submit" [routerLink]="['/transactions']" title="List Transactions" i18n>
                <span class="oi oi-list-rich"></span>
            </button>
        </div>

    </div>

</footer>