<div class="card text-white bg-info">
  <div class="card-header" i18n>
     No accounts selected
  </div>
  <div class="card-body">
      <div *ngFor="let item of items">
        <div class="custom-control custom-checkbox my-1 mr-sm-2">
          <input type="checkbox" class="custom-control-input" id="{{item.id}}">
          <label class="custom-control-label" for="customControlInline">{{ item.name }} </label>
        </div>
      </div>
      <br>
    <a class="btn btn-primary" (click)="onAccountsSelected()" i81n>Ok</a>
  </div>
</div>