<div class="card text-white bg-info">
  <div class="card-header" i18n>
     No accounts selected
  </div>
  <div class="card-body">
    
    <div *ngFor="let item of items">
      
      <div class="custom-control custom-checkbox my-1 mr-sm-2">
        <input class="custom-control-input" type="checkbox" id="{{item.id}}" [checked]="item.selected">
        <label class="custom-control-label" for="{{item.id}}">{{ item.name }}</label>
      </div>

    </div>

    <br>
    <a class="btn btn-primary" (click)="onAccountsSelected()" i81n>Ok</a>
  </div>
</div>