<h2 i18n>Transactions</h2>
<br>
<account-create-card [hidden]="accounts.length>0"></account-create-card>
<account-select-card [hidden]="!(accounts.length>0&&selectedAccounts.length==0)"></account-select-card>

<div class="container" [hidden]="transactions==0">
  <div *ngFor="let transaction of transactions; let i = index;">
    <div class="row bg-secondary text-white" *ngIf="transaction.hide!=true && (i==0 || i>0 && transaction.date.getTime()!=transactions[i-1].date.getTime())">
      <label class="col-2">
        {{transaction.date | date:'shortDate'}}
      </label>
      <label class="col-10 text-right">
        {{transaction.sum | dinero}}
      </label>
    </div>
    <div class="row overflow-hidden" *ngIf="transaction.hide!=true" style="height:30px" [routerLink]="['/transactions/transaction/'+transaction.accountId+'/'+transaction.id]">
      <label class="col-7">
        {{ transaction.description }}
      </label>
      <label class="col-5 text-right">
        {{transaction | transaction}}
      </label>
    </div>
    <div class="row bg-secondary text-white" *ngIf="i==transactions.length-1">
      <label class="col-7 text-right" i18n>
        Initial value
      </label>
      <label class="col-5 text-right">
        {{transaction.amount | dinero}}
      </label>
    </div>
  </div>
  
</div>
