<div class="card">
  <!--div class="card-header" i18n>
  No accounts created
</div-->
<div class="card-body">
  <h5 class="card-title" i18n>Import transactions</h5>
  <p class="card-text" i18n>Import new transactions to selected account</p>
  <!--form [formGroup]="form" (ngSubmit)="onSubmit(form.value)"-->
  <div class="mb-3">
    <select title="account" class="form-select me-2" (change)="onAccountChangeHandler($event)"><!--formControlName="account">-->
      @for (account of accounts; track account) {
        <option [selected]="selectedAccount!=null && account.id==selectedAccount.id" value="{{account.id}}">{{account.name}}</option>
      }
    </select>
  </div>
  <a class="btn btn-primary text-white" [routerLink]="['/transactions/import/'+(newSelectedAccount!=null?newSelectedAccount:'')]" i81n>Import</a>

  <!--/form-->
</div>
</div>