<h2>Filter transactions</h2>
<br>
<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive-xl">
        <table class="table table-sm table-bordered small font-weight-lighter text-truncate">
          <tbody id="parsedData2">
            <tr>
              <th class="align-middle">
                Import?
              </th>
              <!-- ignorar descricao, data varios formatos,montante cred deb, sinal, saldo-->
              <th *ngFor="let columneHeader of transactions[0]; let h = index;">
                <select class="form-control">
                  <option>Ignore</option>
                  <option>Description</option>
                  <option>Date</option>
                  <option>Amount</option>
                  <option>Credit</option>
                  <option>Debit</option>
                  <option>Sign</option>
                </select>
              </th>
            </tr>
            <tr *ngFor="let transaction of transactions; let t = index;">
              <td>
                <div class="custom-control custom-checkbox text-center">
                  <input type="checkbox" checked class="custom-control-input" id="import{{t}}">
                  <label for="import{{t}}" class="custom-control-label"></label>
                </div>
              </td>
              <td *ngFor="let column of transaction">
                {{column}}
              </td>
            </tr>      
          </tbody>
        </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="table-responsive-xl">
        <table class="table table-sm table-bordered small font-weight-lighter text-truncate">
          <tbody #parsedData id="parsedData">
          </tbody>
        </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button class="btn btn-primary" type="submit" i18n [disabled]="submitDisabled">Filter</button>
        <small #submitHelpBlock id="submitHelpBlock" class="form-text text-muted">Enter some text to import</small>
      </div>
    </div>
</form>
<br>
