<h2>{{formData.id==null?'Create Transaction':'Edit Transaction'}}</h2>
<br>
<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

    <div class="row">
      <div class="col-sm-6 form-group">
          <label for="name" i18n>Entity</label>
          <input  class="form-control" id="entity" type="text" formControlName="entity">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 form-group">
        <label i18n>Date</label>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-1 col-md-2 col-4 form-group">
        <input class="form-control" id="day" type="text" formControlName="day">
        <small id="dayHelpBlock" class="form-text text-muted" i18n>Day</small>
      </div>
      <div class="col-xl-1 col-md-2 col-4 form-group">
        <input class="form-control" id="month" type="text" formControlName="month">
        <small id="monthHelpBlock" class="form-text text-muted" i18n>Month</small>
      </div>
      <div class="col-xl-1 col-md-2 col-4 form-group">
        <input class="form-control" id="year" type="text" formControlName="year">
        <small id="yearHelpBlock" class="form-text text-muted" i18n>Year</small>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 form-group">
        <label for="name" i18n>Account</label>
        <select class="form-control" formControlName="accountId">
              <option *ngFor="let account of accounts" [selected]="account.id==accountId" [value]="account.id">{{account.name}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 form-group">
          <label for="name" i18n>Category</label>
          <input  class="form-control" id="category" type="text" formControlName="category">
      </div>
    </div>


    <div class="row">
      <div class="col-sm-12 form-group">
        <label i18n>Amount</label>
        <input  class="form-control" id="amount" type="text" formControlName="amount">
      </div>
    </div>
   
    <div class="row">
      <div class="col-12 form-group">
        <label for="description" i18n>
          Description
        </label>
        <input class="form-control" id="description" type="text" formControlName="description">
      </div>
    </div>
  
    <button class="btn btn-primary" type="submit" i18n>{{formData.id==null?'Create':'Ok'}}</button>
</form>