<h2>Account Creation</h2>

<form [formGroup]="createAccountForm" (ngSubmit)="onSubmit(createAccountForm.value)">

  <div class="form-group">
    <label for="name" i18n>
      Name
    </label>
    <input  class="form-control" id="name" type="text" formControlName="name">
  </div>
  <div class="form-group">
    <label for="name" i18n>
      Value
    </label>
    <input  class="form-control" id="name" type="text" formControlName="name">
    <label for="name" i18n>
      Date
    </label>
    <input  class="form-control" id="name" type="text" formControlName="name">
  </div>
<!-- 
  reference value
  reference date
  description
  currency
-->
  <div class="form-group">
    <label for="description" i18n>
      Description
    </label>
    <input  class="form-control" id="description" type="text" formControlName="description">
  </div>
  <button class="btn btn-primary" type="submit" i18n>Create</button>

</form>