<h2>{{form.value.id==null?'Create bankn profile':'Edit bankn profile'}}</h2>
<br>
  <form [formGroup]="form" class="mb-3" (ngSubmit)="onSubmit()">
    <div class="row mb-3">
      <div class="col-sm-6">
        <label for="name" class="form-label fs-6" i18n>
        Name
      </label>
        <input class="form-control" id="name" type="text" formControlName="name">
        <small id="nameHelpBlock" class="form-text text-muted">
          Used as file name when saving
        </small>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-6">
        <label for="name" class="form-label fs-6" i18n>
        Default currency
      </label>
        <select title="referenceCountry" class="form-select" formControlName="referenceCountry">
          @for (country of countries; track country) {
            <option [selected]="country.alpha2==form.value.referenceCountry" [value]="country.alpha2">{{country.name}} - {{country.currencies[0]}}</option>
          }
        </select>
        <small id="refereenceCountryHelpBlock" class="form-text text-muted">
          Used as default currency when creating accounts
        </small>
        <!-- TODO date format -->
      </div>
    </div>
    <br>
      <button class="btn btn-primary" type="submit" i18n>{{form.value.id==null?'Create':'Ok'}}</button>
    </form>