<div class="card">
  <!--div class="card-header" i18n>
  No accounts created
</div-->
<div class="card-body">
  <h5 class="card-title" i18n>Create transaction</h5>
  <p class="card-text" i18n>Create a new transactions to selected account</p>
  <!--form [formGroup]="form" (ngSubmit)="onSubmit(form.value)"-->
  <div class="form-group">
    <select title="account" class="form-control" (change)="onAccountChangeHandler($event)"><!--formControlName="account">-->
      @for (account of accounts; track account) {
        <option [selected]="selectedAccount!=null && account.id==selectedAccount.id" value="{{account.id}}">{{account.name}}</option>
      }
    </select>
  </div>
  <a class="btn btn-secondary text-white" [routerLink]="['/transactions/transaction/'+(newSelectedAccount!=null?newSelectedAccount:'')]" i81n>Create</a>

  <!--/form-->
</div>
</div>