<h2>{{form.value.id==null?'Create Transaction':'Edit Transaction'}}</h2>
<br>
<form class="container" [formGroup]="form" (ngSubmit)="onSubmit()">

	<div class="row">
		<div class="col-sm-6 form-group">
			<div class="input-group">
				<span class="input-group-text" i18n>Type</span>
				<select title="type" class="form-select" formControlName="type">
					<option *ngFor="let type of transactionTypes" [selected]="form.value.type==type" [value]="type">{{type | transactionType}}</option>
				</select>
			</div>
		</div>
		<div class="col-sm-6 form-group">
			<div class="input-group">
				<span class="input-group-text" i18n>Amount</span>
				<input title="amount" class="form-control" id="amount" type="text" formControlName="amount">
			</div>
	    </div>
	</div>
	<div class="row">
		<div class="col-sm-6 form-group">
			<div class="input-group">
				<span class="input-group-text" i18n>Account</span>
				<select title="account" class="form-select" formControlName="accountId">
					<option *ngFor="let account of (accounts==null?[]:accounts)" [selected]="account.id==form.value.accountId" [value]="account.id">{{account.name}}</option>
				</select>
			</div>
		</div>
		<div class="col-sm-6 form-group">
			<div class="input-group">
				<span class="input-group-text" i18n>Date</span>
				<input type="text" aria-label="day" class="form-control" formControlName="day" id="day">
				<input type="text" aria-label="month" class="form-control" formControlName="month" id="month">
				<input type="text" aria-label="year" class="form-control" formControlName="year" id="year">
			</div>
			<!--small id="yearHelpBlock" class="form-text text-muted" i18n>day/month/year</small-->
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6 form-group">
			<div class="input-group">
				<span class="input-group-text" i18n>Entity</span>		
				<input title="entity" type="text" id="entity" class="form-select" list="entityList" formControlName="entity"/>
				<datalist id="entityList">
					<option *ngFor="let entity of (entities==null?[]:entities)" [value]="entity.name">{{entity.name}}</option>
				</datalist>
				<button class="btn btn-outline-secondary" type="button" i18n>Edit</button>
			</div>
      	</div>
		<div class="col-sm-6 form-group">
			<div class="input-group">
				<span class="input-group-text" i18n>Category</span>
				<input title="category" type="text" id="category" class="form-select" list="categoryList" formControlName="category"/>
				<datalist id="categoryList">
					<option *ngFor="let category of (categories==null?[]:categories)" [value]="category.name">{{category.name | category}}</option>
				</datalist>
				<button class="btn btn-outline-secondary" type="button" i18n>Edit</button>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6 form-group">
			<div class="input-group">
				<span class="input-group-text" i18n>Receipt #</span>
				<input title="receipt #" type="text" class="form-control" id="receiptReference" formControlName="receiptReference"/>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-12 col-12 form-group">
			<div class="input-group">
				<span class="input-group-text" i18n>Description</span>
				<textarea title="description" class="form-control" id="description" formControlName="description"></textarea>	
			</div>
		</div>
	</div>

	<button class="btn btn-primary" type="submit" i18n>{{form.value.id==null?'Create':'Ok'}}</button>
	&nbsp;
	<a *ngIf="form.value.id!=null" class="btn btn-danger text-white" role="button"
		(click)="onDelete(form.value.accountId,form.value.id);" i18n>Delete</a>
	&nbsp;
	<button type="button" class="btn btn-primary" (click)="onCancel();" i18n>Cancel</button>	
</form>
