<div class="row">
  <div class="col-6">
    <h2 i18n>Transactions</h2>
  </div>
  <div class="col-6 text-right">
    <button
      class="btn btn-primary "
      type="submit"
      [routerLink]="['/transactions/transaction']"
      [disabled]="accounts.length==0"
    >
      New
    </button>
  </div>
</div>
<br />

<div *ngIf="accounts.length==0" class="row">
  <div class="col-sm-5">
    <account-create-card></account-create-card>
  </div>
</div>
<div *ngIf="accounts.length>0&&selectedAccounts.length==0" class="row">
  <div class="col-sm-5">
    <account-select-card></account-select-card>
  </div>
</div>
<div
  *ngIf="accounts.length>0&&selectedAccounts.length>0&&!hasRealTransactions"
  class="row"
>
  <div class="col-sm-5">
    <transaction-create-card></transaction-create-card>
  </div>
  <div class="col-sm-2">
    &nbsp;
  </div>
  <div class="col-sm-5">
    <transactions-import-card></transactions-import-card>
  </div>
</div>

<div *ngIf="hasRealTransactions" class="table-responsive text-nowrap">
<table class="table table-sm table-hover">
	<tbody>
		<ng-container *ngFor="let transaction of transactions; let i = index;">
      <!-- header group -->
      <tr class="table-active" *ngIf="transaction.hide!=true && (i==0 || i>0 && transaction.date.getTime()!=transactions[i-1].date.getTime())">
        <th scope="col" width="20%">{{transaction.date | date:'shortDate'}}&nbsp;</th>
        <th scope="col" width="70%"></th>
        <th class="text-end" scope="col" width="10%">{{transaction.balanceAfter | dinero}}&nbsp;</th>
      </tr>
      <!-- detail group -->
      <tr *ngIf="transaction.hide!=true" [routerLink]="['/transactions/transaction/'+transaction.account.id+'/'+transaction.id]">
        <td>{{ transaction.category | category }}&nbsp;</td>
        <td>{{ transaction.description }}&nbsp;</td>
        <td class="text-end" scope="row">{{transaction | transaction}}</td>
      </tr>
	 	</ng-container>
	</tbody>
  <tfoot class="table-group-divider">
    <tr class="table-active">
      <td class="" colspan="2">Initial value</td>
      <td class="text-end" scope="row">{{ initialBalance | dinero}}</td>
    </tr>
  </tfoot>
</table>
</div>
