<h2>Account Creation</h2>

<form [formGroup]="createAccountForm" (ngSubmit)="onSubmit(createAccountForm.value)">

  <div class="form-group">
    <label for="name" i18n>
      Name
    </label>
    <input  class="form-control" id="name" type="text" formControlName="name">
  </div>
  <div class="form-group">
    <label i18n>
      Reference value
    </label>
    <input  class="form-control" id="referenceValue" type="text" formControlName="referenceValue">
    <small id="passwordHelpBlock" class="form-text text-muted">
      Value
    </small>
    <select class="form-control">
      <option *ngFor="let currency of currencies" [selected]="referenceValueCurrency" value="{{currency.AlphabeticCode}}">{{currency.AlphabeticCode}}-{{currency.Currency}}</option>
    </select>
    <small id="passwordHelpBlock" class="form-text text-muted">
      Value
    </small>
    <input  class="form-control" id="referenceDate" type="text" formControlName="referenceDate">
    <small id="passwordHelpBlock" class="form-text text-muted">
      Date
    </small>
  </div>
<!-- 
  currency
-->
  <div class="form-group">
    <label for="description" i18n>
      Description
    </label>
    <input  class="form-control" id="description" type="text" formControlName="description">
  </div>
  <button class="btn btn-primary" type="submit" i18n>Create</button>

</form>