<h2>{{formData.id==null?'Create Account':'Edit Account'}}</h2>
<br>
<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)"> 
  <div class="container">
    <div class="row">
      <div class="col-sm-6 form-group">
          <label for="name" i18n>Name</label>
          <input  class="form-control" id="name" type="text" formControlName="name">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 form-group">
        <label i18n>Reference Value</label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 form-group">
        <input  class="form-control" id="referenceAmount" type="text" formControlName="referenceAmount">
        <small id="passwordHelpBlock" class="form-text text-muted">Value</small>
      </div>
      <div class="col-sm-4 form-group">
        <select class="form-control" formControlName="referenceCountry">
          <option *ngFor="let country of countries" [selected]="country.alpha2==formData.referenceCountry" [value]="country.alpha2">{{country.name}} - {{country.currencies[0]}}</option>
        </select>
        <small id="passwordHelpBlock" class="form-text text-muted">Currency</small>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 form-group">
        <label i18n>Reference Date</label>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-1 col-md-2 col-4 form-group">
        <input class="form-control" id="referenceDay" type="text" formControlName="referenceDay">
        <small id="passwordHelpBlock" class="form-text text-muted" i18n>Day</small>
      </div>
      <div class="col-xl-1 col-md-2 col-4 form-group">
        <input class="form-control" id="referenceMonth" type="text" formControlName="referenceMonth">
        <small id="passwordHelpBlock" class="form-text text-muted" i18n>Month</small>
      </div>
      <div class="col-xl-1 col-md-2 col-4 form-group">
        <input class="form-control" id="referenceYear" type="text" formControlName="referenceYear">
        <small id="passwordHelpBlock" class="form-text text-muted" i18n>Year</small>
      </div>
    </div>
    <div class="row">
      <div class="col-12 form-group">
        <label for="description" i18n>
          Description
        </label>
        <input class="form-control" id="description" type="text" formControlName="description">
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit" i18n>{{formData.id==null?'Create':'Ok'}}</button>
  &nbsp;
  <a *ngIf="formData.id!=null" class="btn btn-danger" role="button" (click)="onDelete(formData.id);" i18n>Delete</a>
</form>
