<div class="row">
  <div class="col-6">
    <h2 i18n>Accounts</h2>
  </div>
  <div class="col-6 text-right">
    <button class="btn btn-secondary" type="submit" [routerLink]="['/accounts/account']">New</button>
  </div>
</div>
<br>
<div *ngIf="accounts.length==0" class="row">
  <div class="col-sm-5">
    <account-create-card></account-create-card>
  </div>
</div>
<div class="table-responsive">
<table *ngIf="accounts.length>0" class="table table-sm table-hover">
  <thead>
    <tr class="table-active">
      <th scope="col" class="" width="0%">Name</th>
      <th scope="col" class="">Description</th>
      <th scope="col" class="text-right" width="0%">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let account of accounts">
      <td scope="row"[routerLink]="['/accounts/account',account.id]">{{ account.name }}&nbsp;</td>
      <td [routerLink]="['/accounts/account',account.id]">{{ account.description }}&nbsp;</td>
      <td class="text-right">
        <button class="btn btn-primary" [routerLink]="['/accounts/account',account.id]" i18n>Edit</button>&nbsp;
        <button class="btn btn-secondary" [routerLink]="['/transactions/',account.id]" i18n>Txns</button>
      </td>
    </tr>
  </tbody>
</table>
</div>