.bouton-image:before {
    content: "";
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    background-color: transparent;
    background-position : center center;
    background-repeat:no-repeat;
}

.monBouton:before{
     background-image : url(http://icons.iconarchive.com/icons/fatcow/farm-fresh/16/accept-icon.png);
}