<div class="row">
  <div class="col-6">
    <h2 i18n>Accounts</h2>
  </div>
  <div class="col-6 text-right">
    <button class="btn btn-secondary" type="submit" [routerLink]="['/accounts/account']">New</button>
  </div>
</div>
<br>
<div *ngIf="accounts.length==0" class="row">
  <div class="col-sm-5">
    <account-create-card></account-create-card>
  </div>
</div>
<div class="table-responsive">
<table *ngIf="accounts.length>0" class="table table-sm">
  <thead>
    <tr>
      <th scope="col" class="">Name</th>
      <th scope="col" class="d-none d-sm-block">Description</th>
      <th scope="col" class="text-right"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let account of accounts">
      <th scope="row"[routerLink]="['/accounts/account',account.id]">{{ account.name }}</th>
      <td class="d-none d-sm-block" [routerLink]="['/accounts/account',account.id]">{{ account.description }}</td>
      <td class="text-right"><button class="btn btn-primary" [routerLink]="['/accounts/account',account.id]" i18n>Edit</button>&nbsp;<button class="btn btn-secondary" [routerLink]="['/transactions/',account.id]" i18n>Txns</button></td>
    </tr>
  </tbody>
</table>
</div>