<div class="row">
  <div class="col-6">
    <h2 i18n>Accounts</h2>
  </div>
  <div class="col-6 text-right">
    <button class="btn btn-primary " type="submit" [routerLink]="['/accounts/account']">New</button>
  </div>
</div>
<br>
<div *ngIf="accounts.length==0" class="row">
  <div class="col-sm-5">
    <account-create-card></account-create-card>
  </div>
</div>
<div *ngIf="accounts.length>0" class="container">
  <div class="row bg-secondary text-white">
    <label class="col-12">
      Name
    </label>
  </div>
  <div class="row" *ngFor="let account of accounts">
    <!-- group tipo de conta-->
    <div class="col-12" [routerLink]="['/accounts/account',account.id]">
      <a >
        {{ account.name }} - {{account.description}}
      </a>
    </div>
    <!--TODO saldo-->
    
  </div>
  <br>
</div>
