<div class="d-flex flex-column vh-100">

  <app-main-menu></app-main-menu>

  <div class="flex-grow-1 overflow-auto bg-light" style="max-height: 100%;">
    <br>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
    <br>

    <!-- Modal -->
    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel" i18n>Select file</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body">
            <file-upload></file-upload>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onOpen()">Open</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" i18n>Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--fa-icon [icon]="['fas', 'check-square']"></fa-icon-->
  
  <app-main-footer></app-main-footer>

</div>