input[type="date"].form-control-sm {
  padding: .2rem .4rem;
  font-size: .8rem;
  width: auto;
}

/* reduce overall footer vertical padding to shrink its height */
footer {
  padding-top: 0.30rem !important;
  padding-bottom: 0.25rem !important;
}

/* ensure select within btn-group behaves like a button and has correct radius */
.btn-group select.form-control {
  border-radius: 0 .25rem .25rem 0;
  /* rounded right corners only */
  min-width: auto;
}

/* remove additional focus outline stacking issues */
.btn-group select.form-control:focus {
  z-index: 1;
}