<br>
<h2 i18n>Welcome to bankn</h2>
<br>
<div class="row" [hidden]="hasBankn">
  <div class="col-sm-6">
    <file-open-card [hidden]="hasBankn"></file-open-card>
  </div>
  <div class="col-sm-6">
    <bankn-create-card [hidden]="hasBankn"></bankn-create-card>
  </div>
</div>
<div class="row" [hidden]="!(hasBankn&&hasAccounts)">
  <div class="col-sm-6">
    <transactions-import-card [hidden]="!(hasBankn&&hasAccounts)"></transactions-import-card>
  </div>
  <div class="col-sm-6">
    <transaction-create-card [hidden]="!(hasBankn&&hasAccounts)"></transaction-create-card>
  </div>
</div>
