/* Add application styles & imports to this file! */
/*@import "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css";*/
/*@import "~bootstrap/dist/css/bootstrap.min.css";*/
/*@import url("bootstrap.min.css"); */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~open-iconic/font/css/open-iconic-bootstrap.css';

/*Angular Material*/
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
