<h2>{{form.value.id==null?'Create Account':'Edit Account'}}</h2>
<br>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 form-group">
				<label for="name" i18n>Name</label>
				<input  class="form-control" id="name" type="text" formControlName="name">
      		</div>
			</div>
			<div class="row">
				<div class="col-sm-12 form-group">
					<label i18n>Reference Value</label>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2 form-group">
					<input title="referenceAmount" class="form-control" id="referenceAmount" type="text" formControlName="referenceAmount">
					<small id="referenceAmountHelpBlock" class="form-text text-muted">Value</small>
				</div>
				<div class="col-sm-4 form-group">
					<select title="referenceCountry" class="form-control" formControlName="referenceCountry">
          				<option *ngFor="let country of countries" [selected]="country.alpha2==form.value.referenceCountry" [value]="country.alpha2" [disabled]="country.alpha2!=form.value.referenceCountry">
							{{country.name}} - {{country.currencies[0]}}
						</option>
        			</select>
					<small id="referenceCountryHelpBlock" class="form-text text-muted">Currency</small>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 form-group">
					<label i18n>Reference Date</label>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-1 col-md-2 col-4 form-group">
					<input title="referenceDay" class="form-control" id="referenceDay" type="text" formControlName="referenceDay">
					<small id="referenceDayHelpBlock" class="form-text text-muted" i18n>Day</small>
				</div>
				<div class="col-xl-1 col-md-2 col-4 form-group">
					<input title="referenceMonth" class="form-control" id="referenceMonth" type="text" formControlName="referenceMonth">
					<small id="referenceMonthHelpBlock" class="form-text text-muted" i18n>Month</small>
				</div>
				<div class="col-xl-1 col-md-2 col-4 form-group">
					<input title="referenceYear" class="form-control" id="referenceYear" type="text" formControlName="referenceYear">
					<small id="referenceYearHelpBlock" class="form-text text-muted" i18n>Year</small>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-12 form-group">
					<label for="description" i18n>Description</label>
					<textarea class="form-control" id="description" formControlName="description"></textarea>
				</div>
			</div>
		</div>
		<button class="btn btn-primary" type="submit" i18n>{{form.value.id==null?'Create':'Ok'}}</button>
		&nbsp;
		<a *ngIf="form.value.id!=null" class="btn btn-danger text-white" role="button" (click)="onDelete(form.value.id);" i18n>Delete</a>
		&nbsp;
		<button type="button" class="btn btn-primary" (click)="onCancel();" i18n>Cancel</button>
</form>