<h2>Import transactions</h2>
<br>
<textarea class="importData" wrap="off" rows="6"></textarea>
<form class="container" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
<!--TODO pegar os dados da área de transferencia e colar já formatada com as colunas com header dinamicos e com opçãoao para ignorar linhas
headers ignorar descricao, data varios formatos,montante cred deb, sinal, saldo, categora entidade (data mont e descricao obrig)
 dar opção de upload de csv-->
 
    <div class="row">
      <div class="col-12 form-group" mwlTextInputHighlightContainer>
        <label for="importData" i18n>
          External transactions:
        </label>
        <textarea class="form-control" formControlName="importData" wrap="off" rows="6"></textarea>
        <small id="passwordHelpBlock" class="form-text text-muted" i18n>Copy paste data from your homebanking</small>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 form-group">
        <select class="form-control" formControlName="columnSeparator">
          <option value=" " selected>tab</option>
          <option value=",">comma</option>
          <option value=";">semicolon</option>
          <option value=" ">space</option>
        </select>
        <small id="passwordHelpBlock" class="form-text text-muted">Currency</small>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 form-group">
        <select class="form-control" formControlName="lineSeparator">
          <option>\n</option>
        </select>
        <small id="passwordHelpBlock" class="form-text text-muted">Currency</small>
      </div>
    </div>
    <button class="btn btn-primary" type="submit" i18n>Import</button>
</form>